.metadata__list {
  label {
    display: block;
    font-weight: 700;
    margin-bottom: 0.15cm;
  }

  > li {
    &:not(:last-child) {
      margin-bottom: 0.5cm;
    }
  }

  input[type="text"],
  input[type="date"] {
    min-height: 0.5cm;

    font-size: 9pt;

    border-left: 2pt solid black;
    border-bottom: 2px solid black;

    padding: 0 0.1cm 0.1cm 0.1cm;
  }
}
