.services__list {
  > li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: none;

    label {
      cursor: pointer;
    }

    &:not(:last-child) {
      margin-bottom: 0.15cm;
    }
  }
}
